<header class="header">
    <div class="header-content">
        <a href="main" class="brand">
            <div>
                <div class="name">__BRAND_NAME__</div>
                <div class="sub">__BRAND_SUB__</div>
            </div>
        </a>
        <div class="header-actions">
            <nav class="nav-links">
                <a href="https://drive.google.com/file/d/1_3Es2JwAtoHfpzKBo7Qh2wkBasXKIDeA/view?usp=drive_link" target="_blank" rel="noopener">__NAV_ABOUT__</a>
                <a href="main#insights">__NAV_INSIGHTS__</a>
                <a href="main#cases">__NAV_CASES__</a>
                <a href="main#consult">__NAV_CONSULT__</a>
            </nav>
            <a href="mypage" data-login-go="mypage" class="nav-mypage">__NAV_MYPAGE__</a>
            <span class="lang">__LANGTOGGLE__</span>
            <a href="consultation" class="btn btn-primary">__LOGIN__</a>
        </div>
    </div>
</header>
