<header class="header">
    <div class="header-content">
        <a href="__HOME__" class="brand">
            <div>
                <div class="name">__BRAND_NAME__</div>
                <div class="sub">__BRAND_SUB__</div>
            </div>
        </a>
        <div class="header-actions">
            <nav class="nav-links" aria-label="__NAV_LABEL__">
                <a href="__NAV_HOME__expertise"__EXPERTISE_CURRENT__>__NAV_EXPERTISE__</a>
                <a href="__NAV_HOME__insights">__NAV_INSIGHTS__</a>
                <a href="__HOME__#case-studies">__NAV_CASE_STUDIES__</a>
                <a href="__NAV_HOME__newsletters"__NEWS_CURRENT__>__NAV_CASES__</a>
                <a href="__HOME__#consult"__CONTACT_CURRENT__>__NAV_CONSULT__</a>
            </nav>
            <span class="lang">__LANGTOGGLE__</span>
        </div>
    </div>
</header>
